URI_DB = {mongodb.net URI}
SECRET_KEY = {secret word}
UPLOAD_DIR = {folder for temporary storage of files}
USERS_AVATARS = {folder for local storage of files (user avatars)}
PUBLIC_FOLDER = {folder storage USERS_AVATARS}
CLOUDINARY_NAME = {user login cloudinary}
CLOUDINARY_API_KEY = {user secret key on cloudinary}
CLOUDINARY_API_SECRET = {user secret word on cloudinary}